*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*10px = 1 rem*/
html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    font-weight: 400;
    color: #555;
}

                 /* Barre de navigation: navbar */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    height: 7.6rem;
    padding: 0 4.8rem;
    position: fixed;
    width: 100%;
}

.logo {
    height: 6.2rem;
    transition: all 0.4s;
}

.main-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 2rem;
    transition: all 0.2s;
}

.main-nav-link:hover {
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 9px;
    color: #000;
    background-color: #fff;
}


           /* Landing page */

.section-hero {
    background-color: #000;
    padding: 0 0 2rem 0;
}
.hero {
    max-width: 130rem;
    margin: 0 auto;
    padding: 25rem 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;   
}
.paragraph-title {
    font-size: 2.4rem;
    font-style: italic;
    color: #fff;
    margin-bottom: 3.2rem;
}
.hero-description {
    font-size: 5.2rem;
    font-weight: 400;
    line-height: 1.05;
    color: #fff;
    letter-spacing: -0.5px;
    margin-bottom: -0.2rem;
}

.hero-presentation {
    font-size: 2.4rem;
    font-weight: 200;
    line-height: 1.05;
    color: #0761f2;
    margin-bottom: 4rem;
    margin-top: 1rem;
}


    /* boutons */

.btn:link,
.btn:visited {
    display: inline-block;
    background-color: #000;
    color:#fff;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 9px;
    border: 0.5px solid #fff;
}

.btn:hover,
.btn:active {
    background-color: #fff;
    color:#000;
} 


    /* La terre en Css */

.earth {
    width: 300px;
    height: 300px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("carte2.webp");
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px rgba(35, 105, 204, 0.473) inset, 0 0 20px 2px rgba(34, 122, 224, 0.618);
    animation: anime 30s linear alternate infinite;
}
@keyframes anime {
    100% {
        background-position: 100%;
    }
}

      /* etoiles de fond couplé avec main.js pr la création d'étoiles */

.star {
    position: absolute;
    background-color: #fff;
    border-radius: 5rem;
    animation: move;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.type-1 { 
    width: 1px; 
    height: 1px;
}
.type-2 { 
    width: 2px; 
    height: 2px;
}
.type-3 { 
    width: 3px; 
    height: 3px;
}

@keyframes move {
    0% {
        transform: translateY(5rem);
    }
    100% {
        transform: translateY(-100rem);
    }
}

            /* About page */

.section-about {
    background: url("images/star-dark.jpg");
        padding: 0 0 2rem 0;     
}
.about {
    max-width: 100rem;
    margin: 0 auto;
    padding: 25rem 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center; 
}
.about-text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -190px;
}
.pargraph-description {
    font-size: 2.4rem;
    font-weight: 600;
    color: #ddd;
}
    /* Mars en Css */

.mars {
     width: 300px;
     height: 300px;
     margin: auto;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-image: url("images/earth-vert.png");
     border-radius: 50%;
     background-size: cover;
     box-shadow: -20px -20px 50px rgba(131, 204, 14, 0.473) inset, 0 0 20px 2px rgba(131, 226, 19, 0.618);
     animation: anime2 30s linear alternate infinite;
}
@keyframes anime2 {
        100% {
            background-position: 100%;
        }
}




            /* Skills page */

.section-skills{
    background: url("images/bien-bl.jpg") no-repeat;
    background-size: cover;
    background-position: right;
    overflow: hidden;
    padding: 0 0 2rem 0;
}
.skills {
    max-width: 130rem;
    margin: 0 auto;
    padding: 25rem 3.2rem;
}
.skills-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -190px;
}
.skills-title h2 {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
.card {
    width: 150px;
    height: 220px;
    border: 2px solid #3586ff;
}



        /* Project page */

.section-project{
    background: url("images/space-bb.jpg") no-repeat;
    background-size: cover;
    padding: 0 0 2rem 0;
    z-index: -1;
}

.project {
    max-width: 130rem;
    margin: 0 auto;
    padding: 25rem 3.2rem;
}
.project-title  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -190px;
}
.project-title h2 {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#time {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#time .circle svg {
     position: relative;
     transform: rotate(270deg);
}
#time .circle:nth-child(1) svg {
    width: 250px;
    height: 250px;
}
#time .circle:nth-child(2) svg {
    width: 210px;
    height: 210px;
}
#time .circle:nth-child(3) svg {
    width: 170px;
    height: 170px;
}
#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: var(--clr);
    stroke-width: 5;
    transform: translate(5px,5px);
    opacity: 0.25;
}
#time .circle:nth-child(1) svg circle {
    stroke-dasharray: 760;
    stroke-dashoffset: 760;
}
#time .circle:nth-child(2) svg circle {
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
}
#time .circle:nth-child(3) svg circle {
    stroke-dasharray: 510;
    stroke-dashoffset: 510;
}
.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;  
    z-index: 10;
}
.dots::before {
    content: '';
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr),
    0 0 40px var(--clr),
    0 0 60px var(--clr),
    0 0 80px var(--clr);
}
.timeBx {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #fff;
    font-family: consolas;
    gap: 15px;
    font-size: 1.5em;
    font-weight: bold;
}
.timeBx #hours::after,
.timeBx #minutes::after {
    content: ':';
    position: absolute;

}
.timeBx div {
    color: var(--clr);
    text-shadow: 0 0 10px var(--c),
    0 0 20px var(--c);
}
.ap {
    position: absolute;
    transform: translateY(-15px);
    font-size: 0.5em;
    right: 56px;
}

/* Success page */

.container {
    background-color: #000;
    width: 100%;
    height: 100vw;
    top: 0;
    bottom: 0;
}
.wrapper {
    
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 200px;
    perspective: 1000px;
    perspective-origin: 60% 50%;
    transform: rotate(-10deg);
}

.wrapper > div {
    position: relative;
    margin: 0 auto;
    transform-style: preserve-3d;
    height: 0;

}
.sun {
    width: 250px;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 125px !important;
}
.sun .star2 {
    width: 250px;
    height: 250px;
    background: url("images/sun.png") no-repeat;
    background-size: cover;
    border-radius: 250px;
    margin: 0 auto;
    animation: spinsun 40s infinite linear;
}

.planet {
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    animation-iteration-count: infinite;
    overflow: hidden;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent url("images/shadow.png") 0% 0% no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.mercury {
    position: absolute;
    width: 400px;
    z-index: 2;
    animation: orbitmercury 12s infinite linear;
    top: -7.5px;
}
.mercury .planet {
    width: 15px;
    height: 15px;
    background-image: url("images/mercury.png");
    animation: anti-spin 12s infinite linear;
}
.mercury .shadow {
    animation: shadow 12s infinite linear;
}

.venus {
    position: absolute;
    width: 506px;
    z-index: 3;
    animation: orbitvenus 15s infinite linear;
    top: -19px;
}
.venus .planet {
    width: 38px;
    height: 38px;
    background-image: url("images/venus.png");
    animation: anti-spin 15s infinite linear;
}
.venus .shadow {
    animation: shadow 15s infinite linear;
}
.earth2 {
    position: absolute;
    width: 610px;
    z-index: 4;
    animation: orbitearth 20s infinite linear;
    top: -20px;
}
.earth2 .planet {
    width: 40px;
    height: 40px;
    background-image: url("images/earth.png");
    animation: anti-spin 20s infinite linear;
}
.earth2 .shadow {
    animation: shadow 20s infinite linear;
}

.mars2 {
    position: absolute;
    width: 706px;
    z-index: 5;
    animation: orbitmars 30s infinite linear;
    top: -11px;
}
.mars2 .planet {
    width: 22px;
    height: 22px;
    background-image: url("images/mars.png");
    animation: anti-spin 30s infinite linear;
}
.mars2 .shadow {
    animation: shadow 30s infinite linear;
}
.jupiter {
    position: absolute;
    width: 1100px;
    z-index: 6;
    animation: orbitjupiter 50s infinite linear;
    top: -64px;
}
.jupiter .planet {
    width: 128px;
    height: 128px;
    background-image: url("images/jupiter.png");
    animation: anti-spin 50s infinite linear;
}
.jupiter .shadow {
    animation: shadow 50s infinite linear;
}

@keyframes spinsun {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes shadow {
    0%{
        background-position: 130% 0%;
    }
    33%{
        background-position: 50% 0%;
    }
    55%{
        background-position: 0% 0%;
    }
    80%{
        background-position: -50% 0%;
    }
   100%{
        background-position: -50% 0%;
    }
}

@keyframes orbitmercury {
    0% {
        z-index: 2;
        transform: rotateY(0deg);
    }
    49% {
        z-index: 2;
    }
    50% {
        z-index: -2;
    }
    99% {
        z-index: -2;
    }
    100% {
        z-index: 2;
        transform: rotateY(360deg);
    }
}
@keyframes orbitvenus {
    0% {
        z-index: 3;
        transform: rotateY(0deg);
    }
    49% {
        z-index: 3;
    }
    50% {
        z-index: -3;
    }
    99% {
        z-index: -3;
    }
    100% {
        z-index: 3;
        transform: rotateY(360deg);
    }
}

@keyframes orbitearth {
    0% {
        z-index: 4;
        transform: rotateY(0deg);
    }
    49% {
        z-index: 4;
    }
    50% {
        z-index: -4;
    }
    99% {
        z-index: -4;
    }
    100% {
        z-index: 4;
        transform: rotateY(360deg);
    }
}

@keyframes orbitmars {
    0% {
        z-index: 5;
        transform: rotateY(0deg);
    }
    49% {
        z-index: 5;
    }
    50% {
        z-index: -5;
    }
    99% {
        z-index: -5;
    }
    100% {
        z-index: 5;
        transform: rotateY(360deg);
    }
}

@keyframes orbitjupiter {
    0% {
        z-index: 6;
        transform: rotateY(0deg);
    }
    49% {
        z-index: 6;
    }
    50% {
        z-index: -6;
    }
    99% {
        z-index: -6;
    }
    100% {
        z-index: 6;
        transform: rotateY(360deg);
    }
}

@keyframes anti-spin {
    form {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes anti-spin-rings {
    form {
        transform: rotateY(0) rotateX(73deg);
    }
    to {
        transform: rotateY(-360deg) rotateX(73deg);
    }
}

        /* Contact page */

.section-contact{
    position: absolute;
    width: 100%;
    height: 800px;
    background: url(bg2.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.contact {
    max-width: 130rem;
    margin: 0 auto;
    padding: 25rem 3.2rem;
    align-items: center;  
}
span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),
    0 0 0 6px rgba(255,255,255,0.1),
    0 0 0 1px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}
span::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);

}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70% {
        opacity: 1;;
    }
    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}
span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}
span:nth-child(3) {
    top: 80px;
    right: 0px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}
span:nth-child(4) {
    top: 0px;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}
span:nth-child(5) {
    top: 0px;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}
span:nth-child(6) {
    top: 0px;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}
span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}
span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}
span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}
span:nth-child(10) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
.contact-title  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 140px;
}

.contact-title h2 {
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}

.contactForm {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}
.contacter {
    position: relative;
    width: 700px;
    width: auto;

}
.contactForm .contacter .row {
    width: 100%;
    display: flex;
    gap: 10px;
}
.contactForm .contacter .row .col50 {
    width: 50%;
    margin: 10px;
}
.contactForm .contacter .row .col100 {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.contactForm .contacter .row input, 
.contactForm .contacter .row textarea 
{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    resize: none;
}

.contactForm .contacter .row textarea {
    height: 100px;
}

.contactForm .contacter .row button{
    background: #3586ff;
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    border: 1px solid #fff;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 150px;
}

/* Footer */

footer {
    position: relative;
    width: auto;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 596px;
    background-color: transparent;

}

footer .social_icon,
footer .menu2
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu2 li
{
    list-style: none;

}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    opacity: 0.75;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
    opacity: 1;
}

footer .menu2 li a {
    font-size: 1.8em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu2 li a:hover {
    opacity: 1;
}

footer p {
    color: #ddd;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.4em;
    font-weight: 400;
}
